html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}

#map {
    height: 100vh;
    /* top: 30vh; */
    background-color: grey;
}

#city-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    width: 400px;
}

.info-days {
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
}
    .info-days:hover {
        border: solid 1px #5cb85c;
        padding: 9px;
    }
    .info-days.active {
        background-color: rgba(128, 128, 128, 0.13);
        border: solid 1px #5cb85c;
        padding: 9px;
    }

#weather-title {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

#weather-days {
    margin: 0 auto;
}

.gm-style-iw {
    text-align: center;
}

.close-modal {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    text-align: center;
    position: fixed;
    left: 25%;
    bottom: 0;
    background-color: #fefefe;
    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}