html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}

#map {
    height: 100vh;
    /* top: 30vh; */
    background-color: grey;
}

#city-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    width: 400px;
}

.info-day {
    padding: 10px;
    margin: 0 auto;
    display: inline-block;
}

#weather-title {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

#weather-days {
    margin: 0 auto;
}

.gm-style-iw {
    text-align: center;
}